/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: FASTERQDUMP {
        ext.args = '-S'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads" },
        ]
    }
    withName: TAR2REFS {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        publishDir = [
            path: { "${params.outdir}/" },
            pattern: "none"
        ]
    }
    withName: 'FORMAT_REFS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'SEQTK_SAMPLE' {
        fair                = true
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'FASTQC' {
        ext.args            = "--quiet"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" }
        ]
    }
    withName: 'FASTP' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" },
            pattern: "*.json"
        ]
    }
    withName: 'SHOVILL' {
        ext.args = "--assembler ${params.denovo_assembler} --mincov ${params.denovo_contigcov} --minlen ${params.denovo_contiglen} --gsize '1.0M' --depth 30"
        ext.when = {  }
        errorStrategy = 'ignore'
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/ref-select" },
            pattern: "contigs.fa",
            saveAs: { "${meta.id}.denovo.fa" }

        ]
    }
    withName: 'SM_SKETCH_REF' {
        ext.args            = "dna --param-string 'scaled=1000,k=21,abund'"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/" },
            pattern: "none"
        ]
    }
    withName: 'SOURMASH_SKETCH' {
        ext.args            = "dna --param-string 'scaled=1000,k=21,abund'"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'SM_GATHER_SELECT' {
        ext.args            = "--threshold-bp 500 -k 21"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/ref-select" },
            pattern: "*.csv.gz",
            saveAs: { "${meta.id}.fast-ref.csv.gz" }
        ]
    }
    withName: 'SOURMASH_GATHER' {
        ext.args            = "--threshold-bp 500 -k 21"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.csv.gz",
            saveAs: { "${meta.id}.all-taxa.csv.gz" }
        ]
    }
    withName: 'SOURMASH_METAGENOME' {
        ext.args            = "--output-format csv_summary krona"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.csv",
            saveAs: { "${meta.id}.sm-meta.csv" }
        ]
    }
    withName: 'KRONA_KTIMPORTTEXT' {
        ext.args            = ""
        ext.when            = {  }
        errorStrategy = 'ignore'
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.html",
        ]
    }
    withName: 'MINIMAP2_ALIGN' {
        ext.args            = "-x asm5 --secondary=no"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/ref-select" },
            pattern: "*.paf",
            saveAs: { "${meta.id}.acc-ref.paf" }
        ]
    }
    withName: 'REF_SELECT_ACCURATE' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/ref-select" },
                pattern: "*ref-summary.csv",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/ref-select" },
                pattern: "*.jpg",
                mode: 'copy'
            ]
        ]
    }
    withName: 'SUMMARIZE_TAXA' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.jpg",
        ]
    }
    withName: 'SM2REFS' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/ref-select/" },
                pattern: "*.csv",
                mode: 'copy'
            ],
        ]
    }
    withName: 'NCBI_DATASETS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/ref-select/" },
                pattern: "*.csv",
                mode: 'copy'
            ],
        ]
    }
    withName: 'BWA_MEM' {
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}" },
                pattern: "none",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.txt",
                mode: 'copy'
            ]
        ]
    }
    withName: 'IRMA' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'MAPPED_FASTQ' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/reads/" },
            pattern: "*.gz"
        ]
    }
    withName: 'IVAR_CONSENSUS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/assembly/" },
                pattern: "none",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.csv",
                mode: 'copy'
            ]
        ]
    }
    withName: 'BAM_STATS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" }
        ]
    }
    withName: 'CONDENSE' {
        container = 'biocontainers/sourmash:4.8.4--hdfd78af_0'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.csv",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.png",
                saveAs: { "${prefix}.condense.png" },
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/assembly" },
                pattern: "*.fa.gz",
                mode: 'copy'
            ]
        ]
    }
    withName: 'EXPORT_ALN' {
        container = 'docker.io/staphb/samtools:1.21'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/align/" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'NEXTCLADE' {
        container = 'docker.io/nextstrain/nextclade:3.9.1'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                pattern: { "${prefix}.tsv" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'SUMMARYLINE' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/summary" }
        ]
    }
    withName: 'COMBINE_SUMMARYLINES' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/" },
            pattern: "*.csv",
            saveAs: { "VAPER-summary.csv" }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
