/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: TAR2REFS {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        publishDir = [
            path: { "${params.outdir}/" },
            pattern: "none"
        ]
    }
    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FORMAT_REFS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/refs" }
        ]
    }
    withName: 'FASTQC' {
        ext.args            = "--quiet"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" }
        ]
    }
    withName: 'FASTP' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/reads/" },
            pattern: "none"
        ]
    }
    withName: 'SHOVILL' {
        ext.args            = "--assembler ${params.denovo_assembler} --mincov ${params.denovo_contigcov} --minlen ${params.denovo_contiglen} --gsize '1.0M' --depth 30"
        ext.when            = {  }
        errorStrategy = 'ignore'
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/assembly" },
            pattern: "contigs.fa",
            saveAs: { "${meta.id}.denovo.fa" }

        ]
    }
    withName: 'FASTP2TBL' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc/" }
        ]
    }
    withName: 'SM_SKETCH_REF' {
        ext.args            = "dna --param-string 'scaled=1000,k=21,abund'"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/" },
            pattern: "none"
        ]
    }
    withName: 'SM_SKETCH_SAMPLE' {
        ext.args            = "dna --param-string 'scaled=1000,k=21,abund'"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/taxonomy/" },
            pattern: "none"
        ]
    }
    withName: 'SM_GATHER_SELECT' {
        ext.args            = "--threshold-bp 500 -k 21"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/taxonomy/" },
            pattern: "*.csv.gz",
            saveAs: { "${meta.id}.fast-ref.csv.gz" }
        ]
    }
    withName: 'SM_GATHER_SAMPLE' {
        ext.args            = "--threshold-bp 500 -k 21"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/taxonomy/" },
            pattern: "*.csv.gz",
            saveAs: { "${meta.id}.all-taxa.csv.gz" }
        ]
    }
    withName: 'SM_META_SAMPLE' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/taxonomy/" },
            pattern: "*.csv",
            saveAs: { "${meta.id}.sm-meta.csv" }
        ]
    }
    withName: 'MINIMAP2_ALIGN' {
        ext.args            = "-x asm5 --secondary=no"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/taxonomy/" },
            pattern: "*.paf",
            saveAs: { "${meta.id}.acc-ref.paf" }
        ]
    }
    withName: 'SUMMARIZE_TAXA' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy/" },
                pattern: "*ref-summary.csv",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/taxonomy" },
                pattern: "*.jpg",
                mode: 'copy'
            ]
        ]
    }
    withName: 'SM2REFS' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy/" },
                pattern: "*.csv",
                mode: 'copy'
            ],
        ]
    }
    withName: 'NCBI_DATASETS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy/" },
                pattern: "*.csv",
                mode: 'copy'
            ],
        ]
    }
    withName: 'BWA_MEM' {
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/bam/" },
                pattern: "*.bam",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.txt",
                mode: 'copy'
            ]
        ]
    }
    withName: 'IRMA' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/assembly/" },
            pattern: "*.fa"
        ]
    }
    withName: 'MAPPED_FASTQ' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/reads/" },
            pattern: "*.gz"
        ]
    }
    withName: 'IVAR_CONSENSUS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/assembly/" },
                pattern: "*.fa",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.csv",
                mode: 'copy'
            ]
        ]
    }
    withName: 'BAM_STATS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" }
        ]
    }
    withName: 'NEXTCLADE_RUN' {
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                pattern: { "${prefix}.tsv" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'NEXTCLADE_CONFIG' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/" },
                pattern: { "none" }
            ]
        ]
    }
    withName: 'SUMMARYLINE' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/summary" }
        ]
    }
    withName: 'COMBINE_SUMMARYLINES' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/" },
            pattern: "*.csv",
            saveAs: { "VAPER-summary.csv" }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PAIR' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/validation" },
            pattern: "none"
        ]
    }
    withName: 'GATHER' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/validation" },
            pattern: "none"
        ]
    }
    withName: 'REPORT' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:1.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/validation" },
            pattern: "*.{csv,tsv,jpg}"
        ]
    }
}
